*.class
build/
build.xml
build.properties
/netbeans/*/nbproject/private/
/netbeans/*/nbproject/build-impl.xml
/netbeans/*/nbproject/build-impl.xml*
!/netbeans/Robot/buildWindows/build.xml
!/netbeans/Robot/buildWindows/build.properties
*/dist/*

/netbeans/Client/logs/*
/netbeans/Client/testOutput/*
/netbeans/Client/dist/