*.class
build/
build.xml
build.properties
*/nbproject/private/
*/nbproject/build-impl.xml
!Robot/buildWindows/build.xml
!Robot/buildWindows/build.properties
*/dist/*

/Client/logs/*
/Client/testOutput/*